body{
    place-self: center;
    background-color: darkgrey;
}
.game{
    background-color: white;
    text-align: center;
    padding: 10%;
}
button{
    margin-top: 3%;
    padding:4%;
    background-color: aquamarine;
}
h3{
    color:red;
}
h4{
    color:green;
}